package component

templ PrimaryButton(name string) {
	<button
		class="flex items-center gap-2 px-3 py-1 text-sm font-medium rounded bg-primary text-primary-foreground hover:bg-primary/80"
	>
		{ children... }
		{ name }
	</button>
}
